/** @format */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --clr-primary: #707070;
  --clr-secondary: #e2d8d0;
  --clr-tertiary: #efe7e1;
  --font-style: "Playfair Display", serif;
  --h1: 10rem;
  --h2: 6rem;
  --h3: 5rem;
  --h4: 3rem;
  --p: 2rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-primary);
  font-family: var(--font-style);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  /* padding: 0 5rem; */
}

/* Home */
/* Banner */
.homebanner {
  background-color: var(--clr-tertiary);
}
.homebanner__content {
  display: flex;
  align-items: center;
}
.homebanner__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homebanner__info h1 {
  font-size: var(--h1);
  font-weight: 700;
  line-height: 10rem;
  padding-bottom: 2rem;
}
.homebanner__info p {
  font-size: var(--p);
}
.homebanner__info a {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: var(--p);
}
.homebanner__img img {
  left: 15rem;
  position: relative;
  object-fit: cover;
  width: 100rem;
  height: 70rem;
}

/* Collection */
.homecollection {
  background-color: var(--clr-tertiary);
}
.homecollection__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}
.homecollection__info {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.homecollection__info h2 {
  font-size: var(--h2);
  font-weight: 700;
  padding-top: 2rem;
}
.homecollection__info p {
  font-size: var(--p);
  text-align: justify;
}
.homecollection__info a {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: var(--p);
}

/* Fresh */
.homefresh {
  padding: 5rem 0;
  background-color: var(--clr-tertiary);
}
.homefresh__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.homefresh__left {
  display: flex;
}
.homefreshcol1__info {
  padding: 8rem;
}
.homefreshcol1__info a {
  font-size: var(--h4);
  font-weight: 700;
  color: var(--clr-primary);
}
.homefreshcol2__content {
  display: flex;
  flex-direction: column-reverse;
}
.homefreshcol2__img img {
  position: relative;
  bottom: 1.5rem;
  width: 48rem;
  height: 23rem;
  object-fit: cover;
}
.homefreshcol2__info {
  margin: auto;
  padding: 0rem 0 8rem 2rem;
  gap: 2rem;
}
.homefreshcol2__info h4 {
  font-size: var(--h4);
  font-weight: 700;
}
.homefreshcol2__info p {
  font-size: var(--p);
}

/* Catalogue */
.homecatalogue {
  padding: 5rem 0;
  background-color: var(--clr-tertiary);
}
.homecatalogue__content {
  display: flex;
}
.homecatalogue__col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 5rem;
  gap: 3rem;
}
.homecatalogue__col2 h2 {
  font-size: var(--h2);
  font-weight: 700;
}
.homecatalogue__col2 p {
  font-size: var(--p);
  width: 50rem;
}
.homecatalogue__col2 a {
  font-size: var(--p);
  font-weight: 700;
  color: var(--clr-primary);
}

/* Catalogue */
.catalogue {
  background-color: var(--clr-tertiary);
}
.search {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}
.catalogue__left h4 {
  font-size: var(--h4);
}
.catalogue__left h4:first-child {
  font-weight: 500;
}
.catalogue input[type="text"] {
  min-width: 25rem;
  max-width: 25rem;
}
.catalogue a {
  color: var(--clr-primary);
}
.catalogue__content {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.catalogue__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.catalogue__list .item {
  display: flex;
  gap: 4rem;
}
.item img {
  width: 8rem;
}
.item__info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.item__info p {
  font-size: var(--p);
  font-weight: 600;
}
.item__info a {
  color: var(--clr-primary);
  font-size: var(--p);
}
.catalogue__large img {
  width: 42rem;
  height: 40rem;
  object-fit: cover;
}
.catalogue__large {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalogue__right {
  position: relative;
  left: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 5rem 0;
}
.catalogue__large span {
  font-weight: 700;
  font-size: var(--p);
}
.catalogue__large p {
  font-size: var(--p);
}
/* Assets */
/* Header */
.header {
  background-color: var(--clr-tertiary);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.header__nav {
  display: flex;
  gap: 2rem;
}
span.logo {
  font-size: var(--h4);
  font-weight: 550;
}
.header__nav a {
  font-size: var(--p);
  color: var(--clr-primary);
}
.header__shop a {
  font-size: var(--p);
  color: var(--clr-primary);
}

/* CTA */
.cta {
  background-color: var(--clr-secondary);
}
.cta__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  gap: 1rem;
}
.cta__title {
  font-size: var(--h3);
  font-weight: 700;
}
.cta__text1 {
  font-size: var(--p);
  width: 70%;
  text-align: center;
  padding-bottom: 2rem;
}
.cta__text2 {
  font-size: var(--p);
  width: 70%;
  text-align: center;
  padding-bottom: 2rem;
}
.cta__sub a {
  font-size: var(--p);
  color: var(--clr-primary);
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: var(--clr-tertiary);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.footer__right {
  display: flex;
  color: var(--p);
  text-align: right;
  align-items: center;
}
.footer__left {
  display: flex;
  align-items: center;
  color: var(--clr-primary);
}
.footer__content a {
  font-size: var(--p);
  color: var(--clr-primary);
}

/* Input */
input[type="text"] {
  min-width: 40rem;
  max-width: 40rem;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  font-family: var(--font-style);
  border-radius: 0.5rem;
}
input[type="email"] {
  min-width: 40rem;
  max-width: 40rem;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  font-family: var(--font-style);
  border-radius: 0.5rem;
}
input::placeholder {
  font-size: var(--p);
  color: var(--clr-primary);
}
